LOCAL_MODE=1
SQLITE_PATH=./data/processed/local.db

MODEL_PATH=data/processed/model.joblib

TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886

AWS_REGION=us-east-1
ACCOUNTS_TABLE=Accounts
TRANSACTIONS_TABLE=Transactions