lambda/packages/accounts_lambda_package/*
lambda/packages/transactions_lambda_package/*
lambda/packages/fraud_alert_lambda_package/*
lambda/packages/twilio_webhook_lambda_package/*

!lambda/packages/accounts_lambda_package/src/
!lambda/packages/accounts_lambda_package/src/**
!lambda/packages/transactions_lambda_package/src/
!lambda/packages/transactions_lambda_package/src/**
!lambda/packages/fraud_alert_lambda_package/src/
!lambda/packages/fraud_alert_lambda_package/src/**
!lambda/packages/twilio_webhook_lambda_package/src/
!lambda/packages/twilio_webhook_lambda_package/src/**
!lambda/packages/accounts_lambda_package/requirements.txt
!lambda/packages/transactions_lambda_package/requirements.txt
!lambda/packages/fraud_alert_lambda_package/requirements.txt
!lambda/packages/twilio_webhook_lambda_package/requirements.txt

lambda/zip/
Model/archive/
Model/data/
__pycache__/
*.pyc
*.pyo
.DS_Store
.idea/
